{% extends "base.html" %}

{% block head_title %}Menu Notes | {{ block.super}}{% endblock head_title %}

{% block content %}

<center>
    <h1>
        Notes <a href='{% url "notes:create" %}' class="btn btn-default">Add a note</a>
    </h1>
</center>

<table>
    <tr>
        <th>ID</th>
        <th>Created at</th>
        <th>Content</th>
        <th>Tags</th>
    </tr>
{% for obj in object_list %}
    <tr>
        <th><a href='{% url "notes:edit" pk=obj.id %}' class="btn btn-default">{{obj.id}}</a></th>
        <th>{{obj.created_at}}</th>
        <th>{{obj.content}}</th>
        <th>{{obj.tags}}</th>
    </tr>
{% endfor %}
</table>

{% endblock %}
