{% extends "base.html" %}

{% block head_title %}Note detail | {{ block.super}}{% endblock head_title %}

{% block content %}

<table>
  <tr>
    <th width="25%" style="text-align:center">Reference</th>
    <th width="65%" style="text-align:center">Content</th>
    <th width="8%" style="text-align:center">Created at</th>
    <th width="5%" style="text-align:center">Edit</th>
  </tr>
  <tr>
    <td>
      <div class="content_p">{{object.reference.name}}</div>
      <div class="tag_p"><a href='{% url "references:detail" pk=object.reference.id %}'>View reference</a></div>
    </td>
    <td>
      <div class="content_p">
        <table class="content">
          <td>{{object.content|safe}}
            <div>{% for tag in object.tags %}
              <span class="tag label label-primary"><a style="color:white;" href='{% url "notes:list" %}?tags={{tag}}'>{{tag}}</a></span>{% endfor %}
            </div>
          </td>
        </table>
      </div>
      <br>  
      <strong>Comments</strong>
      {% for comment in object.comments.all %}
      <div class="content_p">
          <div style="line-height:50%;">
              <br>
            </div>
          <table class="comment"><td><p>{{comment.text}}</p></td></table>
      </div>{% endfor %}
      <div style="line-height:400%;">
          <br>
        </div>
      <form method="post" action="./">
        {% csrf_token %}
        <input type='hidden' name="note" required id="id_note" value='{{ object.id }}'/>
        <div align="center">
          <textarea name="text" placeholder="Leave a comment..." rows="4" cols="60" required id="id_text"></textarea>
        <br><br>
          <button class="btn btn-default" type='submit'>Save</button>
        </div>
      </form>
      <div style="line-height:200%;">
        <br>
      </div>
    </td>
    <td>{{object.created_at|date:"d/m/Y"}}</td>
    <td style="text-align:center">
      <a href='{% url "notes:edit" pk=object.id %}' class="btn btn-default">+</a>
    </td>
  </tr>
</table>

<!-- <script>
    var i;
    var comments = "";
    for (i = 0; i < 4; i++) {
      comments += "<div onclick=\"location.href='http://google.com';\" class=\"content_p\"><table style=\"cursor: pointer;\"><td><a href=\"https://csrc.nist.gov/\">Cannady</a> hhhhhhhhh nice post :D</td></table></div>"
      comments += "<div style=\"line-height:50%;\"><br></div>"
    }
    document.getElementById("comments").innerHTML = comments;
</script> -->

{% endblock %}

